:root {
    --primary-color: #0D2454;
    --secondary-color: #9DBDFF;
    --grey-color: #727375;
    --soft-grey-color: #E0E0E0;
    --white-color: #FFFFFF;
    --white-soft-color: #EBF2FF;
    --bg-loading-color: rgb(255, 255, 255, 0.9);
    --dark-color: #1a1a1a;
    --green-color: #005e43;
    --blue-color: #00467a;
    --yellow-color: #FFCE20;
    --background-color: linear-gradient(to right, #0D2454, #0842B9, #9DBDFF);
}



.warp-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.card-auth {
    border: solid 2px var(--secondary-color);
    background: var(--white-soft-color);
    border-radius: 1rem;
}

.card-body1 {
    background-image: url('/public/storage/assets/bus-1.png');
    background-size: cover;
    background-position: center;
    height: 35rem;
    border-radius: 0.89rem;
}

.bg-secondary {
    background: var(--secondary-color);
}

.form-auth {
    background: var(--secondary-color);
    border-radius: 1rem;
}

.text-registrasi {
    position: relative;
    text-decoration: none;
    transition: color 0.5s;
}

.text-registrasi::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: width 0.5s ease;
}

.text-registrasi:hover::after {
    width: 100%;
}

.navbar-brand {
    background: var(--background-color);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
